* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: 'Mulish', sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Add some padding to avoid edge touching */
  padding: 0 20px; 
 
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  /* Remove default bullets */
  list-style: none; 
  margin: 0;
  padding: 0;
}

/* Check list link style */
nav ul li a {
  /* Remove underline */
  text-decoration: none; 
  color: #333;
  font-size: 16px;
  /* Slightly bold */
  font-weight: 500; 
  /* Smooth hover transition */
  transition: color 0.3s ease; 
}

/* Make text bold on hover */
nav ul li a:hover {
  font-weight: 700; 
  color: #5fb1ae; 
}

#logo img {
  width: 150px; 
  height: auto;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

/* Check margin and font styling */
.text h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 48px;
  font-weight: 700; 
  line-height: 1.2; 
  margin-bottom: 20px;
}

/* Check font styling */
.text h1 span {
  color:#5fb1ae; 
  font-size: 48px;
  font-weight: 700; 
}

/* Check font styling */
.text p {
  font-family: 'Open Sans', sans-serif; 
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color:#69B9BD;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Handle when user hover on the button */
.text button:hover {
  background-color: #5fb1ae; 
  transform: scale(1.05); 
}

/* Check the text styling */
footer {
  font-family: 'Open Sans', sans-serif;
  width: 100%;  
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 20px 0; 
  background-color: #f9f9f9; 
  text-align: center;
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

